body {
    background-image:url('background.jpg');
    background-repeat:repeat;
}

#chatRecord{
    overflow: scroll;
    height: 80%;
    width: 90%;
    bottom: 100px;
    margin-left: 5%;
    color: white;
    font-size: 25px;
    position:absolute;
    background-color:black;
    opacity:0.15;
}

.chatMessage {
    height: 40px;
}

#bottomBar{
    position:absolute;
    top: 95%;
    width: 100%;
}

#chatBox{
    background-color: #202020;
    margin-left: 5%;
    width: 80%;
    position: absolute;
    bottom: 10px;
}

#timer{
    position: absolute;
    background-color: #202020;
    width: 10%;
    bottom: 10px;
    right: 5%;
}
