html, body{
    width:100%;
    height: 100%;
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

#chatRecord{
    margin-top: 5%;
    margin-left:5%;
    width:90%;
    margin-right:5%;
    color: white;
    font-size: 25px;
}

.chatMessage {
    height: 40px;
}

#bottomBar{
    position:absolute;
    top: 95%;
    width: 100%;
}

#chatBox{
    background-color: #202020;
    margin-left: 5%;
    width: 80%;
    position: absolute;
    bottom: 10px;
}

#timer{
    position: absolute;
    background-color: #202020;
    width: 10%;
    bottom: 10px;
    right: 5%;
}
